@font-face {
  font-family: 'Economica';
  font-style: normal;
  font-weight: 400;
  src: local('Economica'), local('Economica-Regular'), url(http://themes.googleusercontent.com/static/fonts/economica/v2/jObgDQiPUtmACAaaK3pMG7O3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Economica';
  font-style: normal;
  font-weight: 700;
  src: local('Economica Bold'), local('Economica-Bold'), url(http://themes.googleusercontent.com/static/fonts/economica/v2/UK4l2VEpwjv3gdcwbwXE9KRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Economica';
  font-style: italic;
  font-weight: 700;
  src: local('Economica Bold Italic'), local('Economica-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/economica/v2/ac5dlUsedQ03RqGOeay-3RbnBKKEOwRKgsHDreGcocg.woff) format('woff');
}